/*
** Colours
*/

.has-vanilla-color {
  color: $vanilla;
}

.has-white-color {
  color: #fff;
}

.has-black-color {
  color: $base-font-color;
}

.has-vanilla-background-color {
  background-color: $vanilla;
}

.has-white-background-color {
  background-color: #fff;
}

.has-black-background-color {
  background-color: $base-font-color;
}

/*
** Paragraph block
*/

p.is-style-two-columns {
  max-width: none !important;
  column-count: 2;
  column-gap: 1 * $base-spacing;
  padding-right: 4 * $base-spacing;
  margin: 2 * $base-spacing 0;
}

/*
** Blockquote block
*/

.wp-block-quote {
  transform-style: preserve-3d;

  &.is-style-large {
    padding: 0;
    margin: 3 * $base-spacing 0;

    p {
      font-style: normal;
      line-height: $heading-line-height;
      font-size: modular-scale(6);
      font-weight: 500;
      max-width: none;
    }

    cite {
      font-size: modular-scale(0);
      font-weight: 700;
      font-style: normal;
    }

    &::before {
      content: "";
      height: 120%;
      position: absolute;
      top: 45%;
      z-index: 99;
      right: 20vw;
      width: 80vw;
      opacity: 0.65;
      background-image: radial-gradient($base-font-color 20%, transparent 20%);
      background-position: 10px 10px;
      background-size: 7px 7px;
      pointer-events: none;
      user-select: none;

      @media screen and (min-width: $medium-screen) {
        will-change: transform;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 0.25px) scale(0.75);
      }
    }
  }
}

/*
** Spacer block
*/

.wp-block-image {
  margin-bottom: 2 * $base-spacing;
}

/*
** Gallery block
*/

.wp-block-gallery {
  margin: 2 * $base-spacing 0;
}

/*
** Spacer block
*/

.wp-block-spacer {
  border-bottom: $base-border;
  margin-bottom: 2 * $base-spacing;
}

/*
** Column block
*/

.wp-block-columns {
  margin: 2 * $base-spacing 0;

  .wp-block-image {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.wp-block-column {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    .wp-block-column {
      flex-basis: calc(50% - #{$small-spacing});
      flex-grow: 0;
    }

    .wp-block-column:nth-child(even) {
      margin-left: $base-spacing;
    }
  }

  @media (min-width: 782px) {
    .wp-block-column:not(:first-child) {
      margin-left: $base-spacing;
    }
  }

  > *:last-child {
    margin-top: auto;
    margin-bottom: 0;
  }
}
