.wp-block-columns {
  margin: 1.5 * $base-spacing 0;

  img {
    width: 100%;
    height: auto;
  }
}

.wp-block-column {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    .wp-block-column {
      flex-basis: calc(50% - #{$small-spacing});
      flex-grow: 0;
    }

    .wp-block-column:nth-child(even) {
      margin-left: $base-spacing;
    }
  }

  @media (min-width: 782px) {
    .wp-block-column:not(:first-child) {
      margin-left: $base-spacing;
    }
  }

  > *:last-child {
    margin-top: auto;
  }
}
