/*
** Colours
*/

.has-vanilla-color {
  color: $vanilla;
}

.has-white-color {
  color: #fff;
}

.has-black-color {
  color: $base-font-color;
}

.has-vanilla-background-color {
  background-color: $vanilla;
}

.has-white-background-color {
  background-color: #fff;
}

.has-black-background-color {
  background-color: $base-font-color;
}

/*
** Paragraph block
*/

p.is-style-two-columns {
  margin: 2 * $base-spacing 0;

  @media screen and (min-width: $medium-screen) {
    max-width: none !important;
    column-count: 2;
    column-gap: 1 * $base-spacing;
    padding-right: 4 * $base-spacing;
  }
}

/*
** Separator block
*/

.wp-block-separator {
  margin-top: 5 * $base-spacing;
  max-width: $max-line-length;

  &.is-style-wide {
    max-width: none;
  }

  &.is-style-dots {
    max-width: $max-line-length;

    &::before {
      font-size: modular-scale(4);
    }
  }
}

/*
** Image block
*/

.wp-block-image {
  margin-bottom: 2 * $base-spacing;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/*
** Gallery block
*/

.wp-block-gallery {
  margin: 2 * $base-spacing 0;
}

/*
** Spacer block
*/

.wp-block-spacer {
  border-bottom: $base-border;
  margin-bottom: 2 * $base-spacing;
}

/*
** Column block
*/

.wp-block-columns {
  margin: 2 * $base-spacing 0;
  display: block;

  @media (min-width: $medium-screen) {
    display: flex;
    flex-direction: row;
  }

  .wp-block-image {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.wp-block-column {
  @media (min-width: $small-screen) {
    .wp-block-column:nth-child(even) {
      margin-left: 0;
    }
  }

  @media (min-width: $medium-screen) {
    display: flex;
    flex-direction: column;

    .wp-block-column:not(:first-child) {
      margin-left: $base-spacing;
    }

    > *:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }

    > *:first-child {
      margin-top: 0;
    }

    p + p {
      margin-top: 0 !important;
    }
  }
}

/*
** Blockquote block
*/

.wp-block-quote {
  transform-style: preserve-3d;

  &.is-style-large {
    padding: 0;
    margin: 3 * $base-spacing 0;

    p {
      font-style: normal;
      line-height: $heading-line-height;
      font-size: modular-scale(6);
      font-weight: 500;
      max-width: none;
    }

    cite {
      font-size: modular-scale(0);
      font-weight: 700;
      font-style: normal;
    }

    &::before {
      content: "";
      height: 120%;
      position: absolute;
      top: 45%;
      z-index: 99;
      right: 20vw;
      width: 80vw;
      opacity: 0.65;
      background-image: radial-gradient($base-font-color 20%, transparent 20%);
      background-position: 10px 10px;
      background-size: 7px 7px;
      pointer-events: none;
      user-select: none;

      @media screen and (min-width: $medium-screen) {
        will-change: transform;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 0.25px) scale(0.75);
      }
    }
  }
}
