/* transition active state (same for leave and enter) */
.barba-leave-active {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.barba-enter-active {
  transition: opacity 0.75s ease, transform 0.75s ease;
}

/* initial state */
.barba-leave {
  opacity: 1;
}

.barba-enter {
  transform: translateY($small-spacing);
  opacity: 0;
}

/* ending state */
.barba-leave-to {
  opacity: 0;
}

.barba-enter-to {
  transform: translateY(0);
  opacity: 1;
}
