@import "bourbon/bourbon";
@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/fonts";
@import "components/forms";
@import "components/gutenberg";
@import "components/layout";
@import "components/lists";
@import "components/media";
@import "components/tables";
@import "components/tags";
@import "components/typography";
@import "components/wp-classes";

/** Layouts **/
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/loading";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/projects";
@import "layouts/tinymce";

/** Home page **/
@import "layouts/home-loading";
@import "layouts/home-hero";
@import "layouts/home-about";
@import "layouts/home-projects";
@import "layouts/home-blog";

/* transition active state (same for leave and enter) */
.barba-leave-active,
.barba-enter-active {
  transition: opacity 850ms ease, transform 650ms ease;
}

/* initial state */
.barba-leave {
  opacity: 1;
}

.barba-enter {
  transform: translateY($small-spacing);
  opacity: 0;
}

/* ending state */
.barba-leave-to {
  opacity: 0;
}

.barba-enter-to {
  transform: translateY(0);
  opacity: 1;
}
