.home-hero {
  position: relative;
  min-height: calc(100vh - #{5 * $base-spacing});
  display: flex;
  flex-direction: row;
  align-items: center;

  .container {
    position: relative;
  }

  &--text {
    width: 70%;
    margin-bottom: 5.5 * $base-spacing;
  }

  &--title {
    font-size: modular-scale(6);
    font-weight: 900;
    margin-bottom: $base-spacing;
  }

  &--excerpt {
    width: 85%;
    margin-bottom: 1.5 * $base-spacing;
  }

  &--image {
    position: absolute;
    width: 90%;
    right: -10%;
    top: 2 * $base-spacing;
    z-index: -1;
    animation: loadHeroImage 5.5s 5s forwards;
    filter: grayscale(1) contrast(0.25) brightness(1.9);

    body.internal-referer & {
      filter: none;
      animation: none;
    }
  }
}

@keyframes loadHeroImage {
  100% {
    filter: grayscale(0) contrast(1) brightness(1);
  }
}
