.home-projects {
  margin-top: 4 * $base-spacing;
  margin-bottom: 4 * $base-spacing;
  position: relative;

  .container {
    position: relative;
  }

  .section-title {
    font-size: modular-scale(8);

    @media screen and (min-width: $medium-screen) {
      font-size: modular-scale(12);

      @supports (mix-blend-mode: difference) {
        color: white;
        will-change: transform;

        &::before,
        &::after {
          // outline: 1px solid red;
          height: 1em * 0.8;
          content: "";
          display: block;
          position: absolute;
          z-index: 9;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #fff;
          mix-blend-mode: difference;
        }

        &::after {
          width: calc(50% + #{1.5 * $small-spacing});
          top: 1em * 0.8;
        }
      }
    }

    font-weight: 500;
    line-height: 0.8;
    text-transform: lowercase;
    margin-left: -$small-spacing;

    @extend %fade-into-view;
  }

  &--title-image {
    position: absolute;
    z-index: -1;
    top: (modular-scale(12) - 1em);
    display: none;

    @media screen and (min-width: $medium-screen) {
      display: block;
    }

    bottom: 0;
    right: -2 * $base-spacing;
    width: calc(50% + #{1.5 * $base-spacing});
  }

  &--intro {
    @media screen and (min-width: $medium-screen) {
      width: 50%;
    }

    padding-right: $base-spacing;
    margin-top: $base-spacing;
    margin-bottom: calc(27% - #{4.5 * $base-spacing});
  }

  &--tag {
    @extend .tag;

    margin-top: $small-spacing;
    font-size: modular-scale(-2);
  }

  // &--image {
  // }

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$small-spacing;
    margin-right: -$small-spacing;
    padding-top: $base-spacing;
    margin-top: $base-spacing;
    padding-bottom: 2 * $base-spacing;
    border-bottom: $base-border;
    border-top: $base-border;
  }

  &--project {
    flex: 0 0 calc(50% - #{$base-spacing});
    margin: $small-spacing;

    @media screen and (min-width: $medium-screen) {
      flex: 0 0 calc(25% - #{$base-spacing});
    }

    @extend %fade-into-view;

    &:nth-child(3n) {
      transition-delay: $base-duration !important;
    }

    &:nth-child(3n - 1) {
      transition-delay: $base-duration/2 !important;
    }

    &:nth-child(3n - 2) {
      transition-delay: 0 !important;
    }

    &:first-child,
    &:last-child {
      flex: 0 0 calc(100% - #{$base-spacing});

      @media screen and (min-width: $medium-screen) {
        flex: 0 0 calc(50% - #{$base-spacing});
      }
    }
  }

  &--read-more {
    margin: (-$base-spacing) auto 0;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }

  &--image {
    display: block;
    margin-bottom: $base-spacing;
  }

  &--excerpt {
    font-size: modular-scale(-1);
  }
}
