.home-hero {
  position: relative;
  min-height: calc(100vh - #{5 * $base-spacing});
  display: flex;
  flex-direction: row;
  align-items: center;

  .container {
    position: relative;
  }

  &--text {
    width: 65%;
    margin-bottom: 5.5 * $base-spacing;
  }

  &--title {
    font-size: modular-scale(7);
    font-weight: 700;
    margin-bottom: $base-spacing;
  }

  &--excerpt {
    width: 85%;
    margin-bottom: 1.5 * $base-spacing;
  }

  &--image {
    position: absolute;
    width: 85%;
    left: 25%;
    bottom: -$base-spacing;
    z-index: -1;
    animation: loadHeroImage 5.5s 5.5s forwards;
    filter: grayscale(1) contrast(0.25) brightness(1.9);

    .internal-referer &,
    .barba-loaded & {
      animation: loadHeroImage 2.75s 0s forwards;
    }
  }
}

@keyframes loadHeroImage {
  100% {
    filter: grayscale(0) contrast(1) brightness(1);
  }
}
