.posts-list--wrapper {
  border-top: $base-border;
  padding-top: 3 * $base-spacing;
}

.posts-list--post {
  margin-bottom: 2 * $base-spacing;
  display: block;

  @media screen and (min-width: $medium-screen) {
    margin-bottom: 0;
    padding: 0 0 3 * $base-spacing 1.5 * $base-spacing;
    border-left: $base-border;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &--image {
    display: block;
    margin-bottom: $base-spacing;

    @media screen and (min-width: $medium-screen) {
      margin-right: 1.5 * $base-spacing;
      flex: 0 0 auto;
      width: 8 * $base-spacing;
      margin-bottom: auto;
    }

    img {
      display: block;
      height: auto;
    }
  }

  &--tag {
    font-size: modular-scale(-2);
    margin-bottom: 1.5 * $small-spacing;
  }

  &--title {
    font-size: modular-scale(2);
  }

  &--excerpt {
    font-size: modular-scale(-1);

    a {
      display: block;
      text-transform: lowercase;
      margin-top: $small-spacing;
    }
  }
}
