.entry-header {
  &--title {
    @extend .post-title;

    margin: 2 * $base-spacing 0 $base-spacing;
  }

  &--image {
    img {
      width: 100%;
    }
  }
}

.entry-content {
  display: flex;
  flex-direction: row;
  margin-top: 1.5 * $base-spacing;
  transform-style: preserve-3d;

  .wp-block-image {
    @extend %fade-into-view;
  }

  &--project {
    @extend .tag;

    margin-bottom: 3 * $base-spacing;
  }

  &--sidebar {
    flex: 0 0 20%;
    padding-right: $base-spacing;
    padding-bottom: $base-spacing;
    margin-right: $base-spacing;
    border-right: $base-border;
    display: flex;
    flex-direction: column;
  }

  main {
    margin-bottom: $small-spacing;
    padding-bottom: $base-spacing;
    transform-style: preserve-3d;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--meta-top {
    position: sticky;
    top: $small-spacing;
  }

  &--number {
    @extend .post-title;

    line-height: 1;
  }

  &--meta-bottom {
    margin-top: auto;

    h3 {
      font-size: modular-scale(0);
    }

    p {
      font-style: italic;
    }
  }

  p {
    max-width: 31rem;
    font-size: modular-scale(-1);
    font-weight: 500;
  }

  blockquote {
    margin: 2 * $base-spacing 0;

    p {
      font-size: modular-scale(0);
    }
  }
}
