$bourbon: (
  "modular-scale-ratio": 1.1875
);

$medium-screen: 720px;
$large-screen: 1120px;
$xl-screen: 1300px;

// Typography
$base-font-family: "Avenir", "Avenir Next", $font-stack-system;
$heading-font-family: $base-font-family;

$max-line-length: 45rem;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.15;
$big-heading-line-height: 0.8;

// Letter spacing
$wide-letter-spacing: 0.15em;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #221f1f;
$vanilla: #d2bfab;

// Font Colors
$base-font-color: $black;
$action-color: $black;
$light-color: tint($base-font-color, 75%);

// Border
$base-border-color: $black;
$base-border-width: 0.1em;
$base-border: $base-border-width solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $light-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 500ms;
$base-timing: ease-out;
